@import "colors";

.home-cover {
    background-image: url("/images/home.jpg");
    background-position: center top;
    height: 100vh;
}

.home-cover-content {
    padding: 5em;
    padding-top: 55vh;
    float: right;
    //width: 100%;
}