@import "colors";

.home-cover {
    background: url("/images/home.jpg") no-repeat center center fixed;
    background-position: center top;
    top: 10vh;
    height: 80%;
}

.home-cover-content {
    padding-top: 35vh;
}