@import "colors";

.modale:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.opened:before {
    display: block;
}

.opened .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 5%;
}

.modal-dialog {
    background: #fefefe;
    border: #333333 solid 0px;
    border-radius: 5px;
    //margin-left: -200px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -100%;
    z-index: 11;
    width: 90%;
    max-width: 900px;
    max-height: 90vh;
    overflow: scroll;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal-body {
    // max-height: 60vh;
    // overflow: scroll;
    padding: 1em;
}

.modal-header,
.modal-footer {
    padding: 1em;
}

.modal-header {
    h1 {
        padding: 0em;
    }

    border-bottom: #eeeeee solid 1px;

    .align-right {
        display: flex;
        flex-direction: row;
        flex: 1;

        .btn-close {
            flex: 1;
            text-align: right;
            font-size: 3em;
            line-height: 1em;
            padding: 0em 0.2em;
        }
    }
}

.modal-footer {
    border-top: #eeeeee solid 1px;
    // padding: 2em;
}