@import "colors";

.bar {
    background-color: white;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    margin: auto;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
    padding: 0em 0.3em;
}

.navigation {
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

.navigation-item {
    text-decoration: none;
    list-style-type: none;
    display: block;
    padding: 0.9em 0.9em;
    text-align: center;
}

.active-navigation-item {
    color: white;
    background: darken($white, 40%);
}

.active-navigation-item:hover {
    color: white;
    background: darken($white, 40%);
}

.logo {
    color: darken($gray, 20%);
    text-decoration: none;
    list-style-type: none;
    padding: 0em 0.9em;
    line-height: 0px;
    font-size: 2em;
}

.navigation-item:hover {
    cursor: pointer;
}

.navigation-item-hover:hover {
    background: darken($white, 2%);
    color: $gray;
}

@media all and (max-width: 1100px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 1075px) {
    .logo {
        display: none;
    }

    .navigation {
        flex-flow: column wrap;
        padding: 0;
        flex: 1;
    }

    .navigation-item {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}
