input {
    border-width: 0px;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    outline-width: 0em;
    border-radius: 0.2em;
}

.disabled {
    opacity: 0.2;
}

.text-input {
    width: 100%;
}

input:focus {
    border-width: 0px;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    outline-width: 0em;
}

textarea {
    border-width: 0px;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    outline-width: 0em;
    width: 100%;
}

textarea:focus {
    border-width: 0px;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    outline-width: 0em;
}

.input-wrapper {
    // flex: 1;
    border-width: 0px;
    margin-top: 1em;
}

.form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.radio-group {
    margin: 1em auto;
    border-radius: 1em;
    background-color: $white;
    padding-bottom: 1em;

    span {
        display: flex;
        flex-direction: row;
        flex-flow: flex-start;
        align-items: center;
        // flex-grow: 0;
        // flex-shrink: 1;
        // margin: 0em 1em;
    }
}

.radio {
    margin: 0em 0.2em 0em 2em;
}

label {
    // margin: 0;
    // padding: 0;
    margin-top: 0.8em;
    font-size: 1.2em;
    color: $gray;
    // line-height: 2.4em;
}

.border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.invalid {
    border-bottom: 1px solid red;
}

.invalid-input {
    background-color: rgba(255, 0, 0, 0.1);
    //background-color: red;
}

