@import "colors";

.where-cover {
    background-image: url("/images/wall.jpg");
    background-position: center center;
    height: 60vh;
}

.where-cover-content {
    padding: 1em;
    // padding-left: 35%;
    padding-top: 45vh;
}

.where-row {
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
    // width: 150%;
    // margin: 0 -25%;
}

.event {
    // border-top: 1px solid rgba(0, 0, 0, 0.1);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1em;
    flex: 1;
    min-width: 300px;
    padding: 1em;
    padding-bottom: 2em;
    background-color: white;
    border-radius: 1em;
}
